<script src="../js/contribute.js"></script>

{{#each vybeBeats}}
{{#if Contribute }}
<div class="col s6 m4 cardMiddle" class='cardMiddle' style="width: 500px">
    <div class="card horizontal" style=" background-color: #fff3E0;">
        <h4 class="audioStyle">Producer: {{Author}}</h4>
        <p class="audioStyle">Beat Name: {{BeatName}}</p>
        <em class="audioStyle">Tempo: {{Tempo}}</em>
        <a href="/create" producer='{{BeatName}}' beat='{{Beat}}' tempo="{{Tempo}}" class="btn-floating halfway-fab waves-effect waves-light" style="background-color: #032d4d"><i class="fas fa-plus"></i></a>
        <audio style="margin-left: 15%" controls loop>
            <source src="/audio/{{Beat}}" type="audio/ogg">
        </audio>
    </div>
</div>
{{/if}}
{{/each}}
