{{!-- Stephan's Style --}}
{{!-- <h1 class="navText">View Page!</h1>
{{#each vybeBeats }}
<div class="col s6 m4 cardMiddle" class='cardMiddle' style="width: 500px">
    <div class="card horizontal" style=" background-color: #fff3E0;">
        <h4 class="audioStyle">Producer: {{Author}}</h4>
        <p class="audioStyle">Beat Name: {{BeatName}}</p>
        <audio style="margin-left: 15%" controls loop>
            <source src="/audio/{{Beat}}" type="audio/ogg">
        </audio>
    </div>
</div>
{{/each}} --}}

<main>
        {{!-- <h1 class="navText">View Page!</h1> --}}
        {{#each vybeBeats }}
        <div class="col s6 m4 cardMiddle" class='cardMiddle' style="min-width: 300px; max-width: 550px">
            <div class="card horizontal" style=" background-color: #fff3E0;">
                <h5 class="audioStyle">Producer: {{Author}}</h5>
                <p class="audioStyle">Beat Name: {{BeatName}}</p>
                <audio style="margin-left: 15%" controls loop>
                    <source src="/audio/{{Beat}}" type="audio/ogg">
                </audio>
            </div>
        </div>
        {{/each}}

</main>

<footer>
    <div class="footer-copyright navText">
        © 2018 Vybe Out Studio
    </div>
</footer>